body {
    background-color: rgb(255, 251, 0);
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    padding: 20px;
  
  }
  
  header {
    display: flex;
    align-items: center;
    display: inline-block;
    background-color: rgb(0, 180, 75);
    padding: 20px;
    margin-bottom: -20px;
    border-radius: 3em;
  }

  header h1 {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  h2 {
      padding-left: 3em;
  }
  
  .slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
    color: rgb(176, 246, 255);
    padding-left: 3.5em;
    padding-top: 2em;
    font-size: larger;
  }
  
  .active-slide{
    opacity: 1;
    z-index: 2;
  }
  
  .quiz-section{
    position: relative;
    height: 200px;
    margin-top: 40px;
  }
  
  .minute-countdown {
    display: flex;
    justify-content: center;
    /* float: center; */
    padding-top: 2em;
  }

  .timer-heading {
    padding-left: 0px;
  }
  
  input {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 20px;
    box-sizing: border-box;
    font-size: 18px;
  }
  
  input:focus {
    outline: none;
  }
  
  button {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    background-color: red;
    color: white;
    border-radius: 4em;
  }

  #restart-quiz {
    background-color: teal;
  }
  
  .quiz-section {
    text-align: left;
    color: yellow;
    background-color: blue;
    border-radius: 3em;
  }
  
  .results-section {
      margin-top: 20px;
      background-color: turquoise;
      border-radius: 3em;
  }

  #user {
    height: 50px;
    background-color: rgb(255, 96, 5);
    color: white;
    padding-left: 4em;
    padding-top: 2em;
    font-size: larger;
    border-radius: 3em;
  }

  #users-name,
  #previous-score {
      color: turquoise;
  }

  .score-card {
    background-color: blueviolet;
    padding: 5px 5px 30px 5px;
    border-radius: 3em;
  }

    p {
      padding-left: 3.7em;
      font-size: larger;
    }
